:root {
    --bg-one: #f9feff;
    --fg-one: #000;
    --fg-two: #111;
    --menu-height: 65px;
    --bg-two: #b2cdf3;
}

#colorPickerWrapper {
    height: 60px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: var(--bg-one);
    text-align: center;
    padding: 7px 0;
}
#colorPickerWrapper input {
    display: inline;
    width: auto;
    margin: 0 10px;
}
#colorPickerWrapper input[type="color"] {
    width: 100px;
    display: inline-block;
    margin: 0;
    padding: 6px;
    height: 23px;
    box-sizing: content-box;
    /*position: relative;
    top: 7px;*/
}

@font-face {
    font-family: "OpenSans";
    src:
        url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
        url("../assets/fonts/OpenSans-Regular.woff") format("woff"),
        url("../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSans-Bold";
    src:
        url("../assets/fonts/OpenSans-Bold.woff2") format("woff2"),
        url("../assets/fonts/OpenSans-Bold.woff") format("woff"),
        url("../assets/fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Courgette";
    src:
        url("../assets/fonts/Courgette-Regular.woff2") format("woff2"),
        url("../assets/fonts/Courgette-Regular.woff") format("woff"),
        url("../assets/fonts/Courgette-Regular.ttf") format("truetype");
    font-weight: bold;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    opacity: 1;
    visibility: visible;
    transition:
        opacity 0.6s,
        visibility 0.6s;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--bg-one);
    color: var(--fg-one);
    scroll-behavior: smooth;
    position: relative;
}

.hide {
    opacity: 0 !important;
    visibility: hidden !important;
    max-height: 0 !important;
    overflow: hidden;
}

/*Menu*/

#nav ul li {
    list-style-type: none;
    font-size: min(2.5vw, 20px);
    padding: 5px;
}

#nav ul li a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
}

#nav ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--bg-two);
    transition:
        opacity 300ms,
        transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

#nav ul li a:hover::after,
#nav ul li a:focus::after {
    transform: translate3d(0, 0.2em, 0);
    transform: scale(1);
}

#nav,
#nav ul {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: var(--bg-one);
    color: var(--fg-one);
}

#nav {
    box-shadow: 0px -15px 15px 7px black;
    z-index: 100;
    position: fixed;
}

#nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: var(--menu-height);
    padding: 10px;
}

#hamburger {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: none;
    height: 26px;
    margin-right: 27px;
    z-index: 999;
}
#hamburger a.main-nav-toggle {
    display: block;
    width: 28px;
    height: 16px;
    position: absolute;
}
#hamburger a.main-nav-toggle:after,
#hamburger a.main-nav-toggle:before {
    content: "";
    position: absolute;
    top: 0;
    height: 0;
    border-bottom: 4px solid var(--fg-one);
    opacity: 0.8;
    width: 100%;
    left: 0;
    right: 0;
    transition: all ease-out 0.3s;
    border-radius: 5px;
}
#hamburger a.main-nav-toggle:after {
    top: 100%;
}
#hamburger a.main-nav-toggle i {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 4px;
    background-color: var(--fg-one);
    opacity: 0.8;
    width: 100%;
    position: absolute;
    top: 50%;
    transition: all ease-out 0.1s;
    border-radius: 5px;
}
#hamburger a.main-nav-toggle.active-menu:after {
    transform: rotate(-45deg);
    transform-origin: center;
    top: 50%;
}
#hamburger a.main-nav-toggle.active-menu:before {
    transform: rotate(45deg);
    transform-origin: center;
    top: 50%;
}
#hamburger a.main-nav-toggle.active-menu i {
    opacity: 0;
}

/*Main body*/

h1 {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
}

p {
    margin: 10px 0;
}

.section {
    width: 80vw;
    margin-left: 10vw;
    display: block;
    padding: 50px 30px;
    scroll-margin-top: var(--menu-height);
}

.section h1.title {
    text-align: center;
    margin-bottom: 20px;
}

.section.noTopPadding {
    padding-top: 0;
    scroll-margin-top: calc(var(--menu-height) + 40px);
}

.section.noBottomPadding {
    padding-bottom: 0;
}

#pricesWrapper {
    background-color: var(--bg-two);
    width: 100vw;
}

#pricesWrapper h1 {
    font-size: 20px;
    margin: 0 0 20px 0;
}

/*Name section*/

#nameSection {
    height: min(max(32vw, 250px), 350px);
    position: relative;
    background-color: var(--bg-two);
    margin-top: var(--menu-height);
    width: 100vw;
    margin-left: 0;
}

#nameWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: calc(100vw - 60px);
}

#name {
    margin-bottom: 10px;
    font-family: "Courgette";
    font-size: min(max(4vw, 28px), 50px);
}

#nameNote {
    font-style: italic;
}

#ptwman {
    width: 10vw;
    max-width: 100px;
}

/*First section*/

#firstWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#firstText {
    flex-basis: 65.5%;
    flex-grow: 1;
}

#firstImage {
    flex-basis: 33%;
}

#profileImage {
    border-radius: 50%;
    width: 80%;
    max-width: 300px;
    aspect-ratio: 4/5;
    object-fit: cover;
    margin: 10px auto;
    display: block;
    position: relative;
}

/*Testimonial Slider*/

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 4));
    }
}

.slide-track {
    animation: scroll 15s linear infinite;
    display: flex;
    transition: all 1s;
}

.slide-track:hover {
    animation-play-state: paused;
}

.slider {
    padding: 50px 0;
    background-color: var(--bg-two);
    margin-top: 20px;
}

.slide {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
}

.slider .slide:not(.keySlide) {
    display: none;
}

.testimonial,
.testimonialAuthor {
    display: block;
    text-align: center;
}

.testimonial {
    font-size: 1.1em;
}

.testimonial::before {
    content: '"';
}

.testimonial::after {
    content: '"';
}

.testimonialAuthor {
    font-style: italic;
    margin-top: 5px;
    font-size: 0.9em;
}

.testimonialAuthor::before {
    content: "- ";
}

.slider.all {
    max-height: 800px;
    overflow-y: scroll;
}

.slider.all .slide-track {
    animation: none;
    flex-wrap: wrap;
    height: 100%;
    overflow-y: scroll;
}

.slider.all .slide {
    flex: 0 0 100%;
    padding: 20px;
}

.slider.all .slide:not(.keySlide) {
    display: flex;
}

.slider.all .slide.duplicateSlide {
    display: none;
}

#testimonialClose {
    background-color: var(--bg-one);
    margin-bottom: 25px;
    margin-top: 0;
    flex: 0 0 auto;
    padding: 10px 20px;
    cursor: pointer;
}

#testimonialOpen {
    background-color: var(--bg-one);
    margin-bottom: 0;
    margin-top: 25px;
    cursor: pointer;
}

#testimonialOpen:hover,
#testimonialClose:hover {
    background-color: color-mix(in srgb, var(--bg-two) 45%, white);
}

/*List*/
.styledUl {
    margin: 25px 0;
}

.styledUl li {
    margin: 5px;
    display: block;
    position: relative;
    padding: 10px;
    background-color: color-mix(
        in srgb,
        var(--bg-two) 25%,
        transparent
    ); /*#ecf7f9;*/
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    padding-left: 50px;
}

.styledUl li::before {
    content: "";
    width: 15px;
    height: 2px;
    background-color: black;
    display: block;
    position: absolute;
    left: 20px;
    top: 50%;
    border-radius: 5px;
    transform: translateY(-50%);
}

/*Contact Form*/

form {
    display: block;
    width: max(400px, 40vw);
    max-width: 100%;
    margin: 40px auto 10px;
}

label {
    font-style: italic;
}

input,
textarea,
button {
    background-color: inherit;
    border: none;
    border-radius: 4px;
    background-color: color-mix(
        in srgb,
        var(--bg-two) 25%,
        transparent
    ); /*#e7f2f6;*/
    padding: 10px;
    margin: 10px 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    color: var(--fg-one);
}

input,
textarea {
    width: 100%;
    transition: background-color 0.6s;
}

input:active,
input:focus,
input:focus-within,
input:focus-visible,
textarea:active,
textarea:focus,
textarea:focus-within,
textarea:focus-visible {
    outline: none;
    background-color: color-mix(
        in srgb,
        var(--bg-two) 50%,
        rgba(0, 0, 0, 0.2)
    ); /*#d8dfe6;*/
}

textarea {
    height: 150px;
}

button {
    margin: 10px auto;
    padding: 10px 20px;
    display: block;
    cursor: pointer;
    transition:
        transform 0.6s,
        background-color 0.6s;
}

button:active {
    transform: scale(0.95);
}

button:hover {
    background-color: var(--bg-two);
}

#btnSubmit {
    margin-bottom: 50px;
}

.grecaptcha-badge {
    position: absolute !important;
}

#contactFormSuccess,
#contactFormError {
    display: block;
}

.spinner-square {
    width: 45px;
    height: 60px;
    margin: 0 auto;
    display: flex;
}

.spinner-square > .square {
    width: 8px;
    height: 40px;
    margin: auto auto;
    border-radius: 4px;
}

.square-1 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s
        infinite;
}

.square-2 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 200ms
        infinite;
}

.square-3 {
    animation: square-anim 1200ms cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms
        infinite;
}

@keyframes square-anim {
    0% {
        height: 40px;
        background-color: rgb(111, 163, 240);
    }
    20% {
        height: 40px;
    }
    40% {
        height: 60px;
        background-color: rgb(111, 200, 240);
    }
    80% {
        height: 40px;
    }
    100% {
        height: 40px;
        background-color: rgb(111, 163, 240);
    }
}

/*Media queries*/

@media (max-width: 725px) {
    /*Menu*/
    #nav {
        position: fixed;
        top: -100%;
        transition: top 0.6s;
    }

    #nav.shown {
        top: 0;
    }

    #nav ul {
        justify-content: left;
        height: auto;
    }

    #nav ul li {
        font-size: 1em;
        width: 100%;
    }

    #hamburger {
        display: inline-block;
    }

    /*Sections*/

    .section {
        width: 100vw;
        margin-left: 0;
    }

    #nameSection {
        margin-top: 0;
    }

    #firstText {
        flex-basis: 100%;
    }

    #firstImage {
        flex-basis: 50%;
    }
}

@media (min-width: 1385px) {
    .centerOnLarge {
        text-align: center;
    }

    form {
        text-align: left;
    }
}

/* Fun animations */

#kidsMode {
    position: absolute;
    top: calc(var(--menu-height) + 20px);
    right: 20px;
    /*transition: color 0.6s;
    color: var(--bg-two);*/
    color: var(--fg-two);
    z-index: 99;
}

#kidsMode:hover {
    color: var(--fg-two);
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    top: 3px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.switcher {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color-mix(in srgb, var(--bg-two) 75%, black);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 17px;
}

.switcher:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .switcher {
    background-color: #2196f3;
}

input:focus + .switcher {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .switcher:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

body.fun #profileImage {
    animation: nod 0.4s ease-in-out infinite;
}

@keyframes nod {
    0%,
    100% {
        top: -5px;
    }
    50% {
        top: 5px;
    }
}

body.fun .styledUl li:hover {
    transform: rotate(360deg);
}

body.fun .styledUl li.flip {
    animation: flip 1s ease 0s 1 normal forwards;
}

@keyframes flip {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}
body.fun .slide-track {
    animation: scroll 3s linear infinite;
}

body.fun .slide-track:hover {
    animation-play-state: paused;
}

body.fun form input,
body.fun form textarea,
body.fun #btnSubmit {
    transition: transform 0.6s;
    position: relative;
}

body.fun form input,
body.fun #btnSubmit {
    z-index: 1;
}

body.fun form textarea {
    z-index: 0;
}

body.fun form input:hover,
body.fun form textarea:hover,
body.fun #btnSubmit:hover {
    transform: scale(2);
}

body.fun #ptwman #path5-8 {
    animation: rainbow 10s linear infinite;
}

@keyframes rainbow {
    0%,
    100% {
        stroke: #2c3e50;
    }
    5% {
        stroke: #f1c40f;
    }
    10% {
        stroke: #e67e22;
    }
    15% {
        stroke: #e74c3c;
    }
    20% {
        stroke: #ecf0f1;
    }
    25% {
        stroke: #95a5a6;
    }
    30% {
        stroke: #f39c12;
    }
    35% {
        stroke: #d35400;
    }
    40% {
        stroke: #c0392b;
    }
    45% {
        stroke: #bdc3c7;
    }
    50% {
        stroke: #7f8c8d;
    }
    55% {
        stroke: #1abc9c;
    }
    60% {
        stroke: #2ecc71;
    }
    65% {
        stroke: #3498db;
    }
    70% {
        stroke: #9b59b6;
    }
    75% {
        stroke: #34495e;
    }
    80% {
        stroke: #16a085;
    }
    85% {
        stroke: #27ae60;
    }
    90% {
        stroke: #2980b9;
    }
    95% {
        stroke: #8e44ad;
    }
}

/* Joe Herbert message */
.hover-text-indigo:hover {
    color: #3f51b5 !important;
}
.hover-text-purple:hover {
    color: #9c27b0 !important;
}
.hover-text-red:hover {
    color: #f44336 !important;
}
.hover-text-yellow:hover {
    color: #d2be0e !important;
}
.hover-text-light-blue:hover {
    color: #87ceeb !important;
}
#joeHerbertLink {
    position: relative;
    left: 10px;
    bottom: 10px;
    cursor: default;
}
#joeHerbertLink,
#joeHerbertLink a i,
#joeHerbertLink a {
    color: var(--fg-one);
    text-decoration: none;
    font-family: Arial;
}
